doctype html 
html
  head
    block head
      title Natour
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/jpg' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' )

  body
    main.main
      .login-form
            h2.heading-secondary.ma-bt-lg Create Account
            form.form
              .form__group
                label.form__label(for='Name') Name
                input#name.form__input(type='name', placeholder='Enter name', required)
                label.form__label(for='email') Email address
                input#email.form__input(type='email', placeholder='you@example.com', required)

              .form__group.ma-bt-md
                label.form__label(for='password') Password
                input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                label.form__label(for='passwordConfirm') PasswordConfirm
                input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
              
              .form__group
                button.btn.btn--green Signup
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
    script(src='/js/signup.js')